@using Microsoft.AspNetCore.Identity
@using Models

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager  

@{
    @* SignInManager.IsSignedIn(User); *@


}  

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User)){
 <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Account/Manage/Index" asp-area="Identity">
            Hello @UserManager.GetUserName(User)!
        </a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Account/Logout" asp-area="Identity">Đăng xuất</a>
    </li>
    } else {
 <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Account/Register" asp-area="Identity">Đăng kí</a>
    </li>
    <li class="nav-item">
        <a class="nav-link text-dark" asp-page="/Account/Login" asp-area="Identity">Đăng nhập</a>
    </li>
    }
   
</ul>